#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

table th, table td {
  padding: 12px 15px;
  border: 1px solid #8B8982;
}

table thead {
  background-color: #565656;
}

table tbody tr:nth-child(even) {
  background-color: #8B8982;
}

table tbody tr:not(:first-child):hover {
  background-color: #6C91C2;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}